@import "tailwindcss";
@import "./font.css";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@config "../../tailwind.config.mjs";

@layer app {
    html {
        @apply h-full w-full;
    }

    body {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        @apply h-full w-full antialiased bg-gray-100 dark:bg-base-100 dark:text-base-content;
    }

    #app {
        @apply flex min-h-screen flex-col;
    }
}

.bg-gradient-cover {
    @apply bg-gradient-to-t from-gray-500 dark:from-neutral to-transparent;
}

.kbd {
    @apply inline-flex justify-center rounded border border-gray-300 bg-gray-200 px-1 py-0.5 align-middle text-sm dark:border-base-content/20 dark:bg-neutral;
}

[class*='btn-'] {
    @apply rounded border cursor-pointer border-transparent p-2 px-4 text-center text-sm font-medium focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;
}

[class*='btn-']:disabled {
    @apply cursor-not-allowed opacity-50;
}

.btn-sm {
    @apply p-1 px-3 text-sm;
}

.btn-default {
    @apply border-gray-300 bg-white dark:border-base-300 dark:bg-base-300 font-medium text-gray-900 shadow-sm dark:text-white/60;
}

.btn-default:not([disabled]) {
    @apply hover:bg-gray-100 hover:shadow-none dark:hover:bg-base-100 dark:hover:text-white
}

.btn-primary {
    @apply flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 dark:hover:bg-indigo-400 dark:bg-indigo-500 dark:focus-visible:outline-indigo-500;
}

@layer utilities {
    .form-input {
        @apply block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6 dark:bg-white/5 dark:ring-white/10 dark:focus:ring-indigo-500 dark:text-white;
    }
}

.hero-banner {
    min-height: 35vh;
    width: 100%;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        inset: 0px;
        height: initial;
        z-index: 1;

        @apply bg-linear-to-t from-[var(--color-gray-100)];
    }

    & > .hero-copy {
        @apply relative z-[2] mx-auto max-w-7xl px-2 pb-[10px] pt-[160px] text-center dark:text-white;

        & > h1 {
            @apply text-6xl font-black;
        }

        & > .scroll-indicator {
            @apply relative mx-auto h-[80px] w-[2px];

            & > span {
                content: '';
                display: block;
                position: absolute;
                top: -40px;
                left: 0px;
                animation-name: scrollIndicator;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-timing-function: cubic-bezier(0, 0.42, 0.2, 0.99);
                animation-play-state: running;
                width: 2px;
                height: 0px;
                background: rgb(255, 255, 255);
            }
        }
    }
}

.dark {
    .hero-banner {
        &::before {
            @apply from-[#2A303C]!;
        }
    }
}

.hexagon {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    @apply flex items-center justify-center bg-indigo-500 p-2 font-semibold text-white;
}

.embed-responsive.embed-responsive-16by9 {
    & > .embed-responsive-item {
        @apply aspect-video;
    }
}

.twitter-tweet.twitter-tweet-rendered {
    @apply mx-auto;
}

.prose {
    & > p,
    & > span,
    & > * > span {
        font-family: Roboto, sans-serif !important;
        @apply text-black! dark:text-base-content!;
    }
}

.prose iframe[allowfullscreen] {
    @apply w-full h-auto aspect-video;
}

@keyframes scrollIndicator {
    0% {
        top: 0px;
        height: 0px;
    }

    40% {
        top: 0px;
        height: 80px;
    }

    85% {
        top: 80px;
        height: 0px;
    }

    100% {
        top: 80px;
        height: 0px;
    }
}
